.hotkey {
  background-color: #909090;
  color: black;
  font-family: "JetBrains Mono NL", Hack, monospace;
  padding: 0.1em;
  border-radius: 0.2em;
}

code {
  font-family: "JetBrains Mono NL", Hack, monospace;
}


.sub-title {
  text-align: left;
  border-bottom: 1px solid white;
}

.sub-topic {
  top: 80px !important;
  text-align: left;
}

.comparison {
  display: flex;
  justify-content: left;
  padding: 8px 24px;

  margin: auto;

  div:first-child {
    padding-right: 80px;
  }

  &.code {
    & pre:first-child {
      margin-right: 10px;
    }
  }

  & .comparison-points {
    font-size: 24px;
    font-weight: 200;
  }

  & .comparison-title {
    margin-bottom: 12px;
  }

  &:first-child {

  }

}

.topic-text {
  font-size: 14px !important;
  text-align: left;
}

.fragment.current-visible.remove.visible.current-fragment {
  display: contents;
}

.fragment.current-visible.remove.visible:not(.current-fragment) {
  display: none;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}

.slide-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.one-liner {
  margin: 0 0 10px !important;
}

.full-list {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  list-style-type: none !important;
  margin-left: 0 !important;
}

.fragments {
  height: 100%;
  width: 100%;
  position: relative;

  & .fragment {
    position: absolute;
    top: 0;
    left: 0;

  }
}

